

#choicePersonnage{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.active{
    display: block;
}
.in-active{
    display: none !important
}

.humain, .elfe, .orc, #gamePlay{
    display: flex;
}
#gamePlay{
    width: 100%;
    justify-content: space-around;
}